  body {
         background-color:#8CC0DE;
      }
  hr.headline{      
        border-color: black;        
        width: 30%;
        border-width: 5px;
    }
 hr{
   TopBorder-style : dotted;
     Border-style : none;
    }
